<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lll44556.lll.user.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="top.lll44556.lll.user.entity.Menu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="menuPid" column="menu_pid" jdbcType="BIGINT"/>
            <result property="menuPids" column="menu_pids" jdbcType="VARCHAR"/>
            <result property="isLeaf" column="is_leaf" jdbcType="TINYINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,menu_pid,menu_pids,
        is_leaf,menu_name,url,
        icon,sort,level,
        status
    </sql>
</mapper>
