name: lll-user-github-actions
on:
  push:
    branches:
      - main

concurrency:
  group: lll-user-deploy
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

env:
  JAVA_VERSION: 21
  SERVICE_NAME: "lll-user"
  # GHCR 镜像名：ghcr.io/<owner>/lll-user
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/lll-user

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: "maven"

      # 关键：让 Maven 下载依赖走 Nexus（否则会找不到你私有的 parent / common）
      - name: Generate Maven settings.xml
        uses: lll-org/lll-actions/.github/actions/maven-nexus-settings@v3
        with:
          nexus_mirror_url: ${{ secrets.NEXUS_MIRROR_URL }}
          server_id: nexus
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}


      - name: Build (Maven)
        run: mvn -B -ntp -U -DskipTests clean package
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR (push)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      # 假设你的 Dockerfile 在仓库根目录：./Dockerfile
      # 如果你 Dockerfile 不在根目录，改 file: 的路径即可
      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest


      - name: Deploy via SSH (pull & restart container)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 6000
          script: |
            set -e
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin
            docker pull ${{ env.IMAGE_NAME }}:latest
            cd /mnt/a/workspace/docker/service/lll-user
            docker compose down
            docker compose up -d