name: lll-auth-github-actions
on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

env:
  JAVA_VERSION: 21

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Build(Maven)
